/*** Tabs ***/

ul.tabs {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 30px;
	line-height: 30px;
	list-style: none;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

ul.tabs li {
	float: left;
	margin-left: -1px;
	padding: 0 15px;
	border: 1px solid #ccc;
	background: #eee;
}

ul.tabs li a {
	display: block;
	padding: 0 15px;
	color: #666;
}

ul.tabs li:hover {
	background: #ddd;
	/* margin-top: -5px; */
	/* height: 35px; */

}

ul.tabs li a:hover {
	/* padding-top: 5px; */
	text-decoration: none;
	color: #333;
}

.tabs-content {
	overflow: hidden;
	height: 300px;
	border-bottom: 1px solid #ccc;
}

.tab-content {
	height: 300px;
	overflow: auto;
}